.main-container {
  margin: 0 10px;
}
.center-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  width: 300px;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 10px 20px;
}

.story-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 15px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.delete-btn {
  cursor: pointer;
  font-weight: bold;
  margin: 0 15px;
 &:hover {
    text-decoration: underline;
    color: #FF0000;
  }
}

.story-item strong {
  font-size: 1.2em;
}

p {
  font-size: 16px;
  color: grey;
}

mark {
  background-color: #fffa65;
  color: #000;
  font-weight: bold;
}


.dropdown {
  position: absolute; /* Position it relative to the input field */
  border: 1px solid #ccc; /* Add a border */
  background-color: white; /* Set background color */
  z-index: 1; /* Ensure it's above other elements */
  width: 100%; /* Match the input width */
  max-height: 200px; /* Limit height for overflow */
  overflow-y: auto; /* Add scroll if content overflows */
}

.dropdown li {
  padding: 10px; /* Add some padding */
  cursor: pointer; /* Change cursor on hover */
}

.dropdown li:hover {
  background-color: #f0f0f0; /* Change background on hover */
}

